<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ImageService.ImageServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Handler" value="C:\Users\eilon\Desktop\handle2;C:\Users\eilon\Desktop\handle1" />
    <add key="OutputDir" value="C:\Users\eilon\Desktop\outputDir" />
    <add key="ThumbnailSize" value="60" />
    <add key="SourceName" value="ImageServiceSource" />
    <add key="LogName" value="ImageServiceLog" />
    <add key="IP" value="127.0.0.1"/>
    <add key="Port" value="8500"/>
    <add key="ServiceName" value="ImageService"/>
    <add key="Students" value="Daniel Greenspan,308243948;Eilon Bashari,308576933"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
